# ============================
# Python
# ============================
__pycache__/
*.py[cod]
*.egg
*.egg-info/
dist/
build/
*.so

# ============================
# Virtual environments
# ============================
.venv/
venv/
env/

# ============================
# Poetry
# ============================

# ============================
# Logs
# ============================
*.log
logs/

# ============================
# Databases
# ============================
# *.db
#*.sqlite
#*.sqlite3

# ============================
# Test & Coverage
# ============================
htmlcov/
.coverage
coverage.xml
.pytest_cache/
tests/correctFile.json

# ============================
# IDE / Editor files
# ============================
.vscode/
.idea/
*.swp

# ============================
# OS files
# ============================
.DS_Store
Thumbs.db

# ============================
# Docker
# ============================
*.tar

